@charset "UTH-8";

.tab {
  width: 500px;
}
.tab-nav {
  display: flex;
}
.tab-nav-item {
  background: #ccc;
  color: #000;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px 5px 0 0;/*左上と右上の角を丸くする。*/

  margin-right: 2px;
}
/*タブナビアイテムクラスに、イズアクティブクラスを設ける。*/
/*is-activeクラスがついている時だけ、背景が黒、文字が白色に変わる。*/
.tab-nav-item.is-active {
  background: #000;
  color: #fff;
}




.tab-contents {
  border: 1px solid #ccc;
  padding: 20px;
}
.tab-contents-item {
  display: none;
}

/*JSで必要に応じて、タブボタンをアクティブに切り替えて、必要なメッセージアイテムを出すようにする。*/
